# Dependencies
node_modules
package-lock.json

# Build output
.next
out
dist
build

# Cache
.turbo
.cache

# Environment
.env
.env.*

# Logs
*.log

# Coverage
coverage

# TypeScript
*.tsbuildinfo

# Next.js
.next/
.vercel
next-env.d.ts
